body{
    display: grid;
    grid-template-columns: 19% 81%;
    grid-template-rows: 100%;
    gap: 0;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #2c2f33;
    color: aliceblue;
}

header{
    width: 90%;
    margin: 10px;

    *{ width: clamp(5%, 10%, 15%); }
}

main{
    width: 100%;
    padding: 15px;
    margin: 5px;
}

img{
    max-width: 99%;
    min-width: 150px;
    outline: black ridge 5px;
}

a{
    color: aliceblue;
    overflow-wrap: break-word;
    max-width: 90%;

    img{
        background: none;
        outline: none;
        border: none;
    }
}

a:focus, a:hover{ color: orangered; }

a:focus:hover{ color: yellow; }

nav{ text-align: left; }

h3, p{
    width: 80%;
    margin: 0;
    overflow-wrap: break-word;
}

form{ width: 90%; }

label{ align-self: flex-start; }

input{
    align-self: flex-start;
    width: minmax(1rem, max-content);
    padding: clamp(5px, 0.5rem, 1rem);
}

button{
    padding: clamp(10px, 1rem, 20px);
    font-size: larger;
    background-color: lime;
    border: 2px solid aliceblue;
    cursor: pointer;
}

button:focus, button:hover{
    background-color: orangered;
    color: aliceblue;
}

button:focus:hover{ background-color: orange; }


    
.linha, .coluna{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
}

.linha{ flex-wrap: wrap; }

.coluna{
    flex-direction: column;
    gap: clamp(10px, 1rem, 20px);
    padding: clamp(10px, 15px, 20px);
    width: fit-content;
}

.maior{ font-size: 2em; }

*.caixaCinzenta{
    background-color: #43484f;
    border: 2px solid aliceblue;
}

.grade{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    gap: clamp(5px, 1rem, 20px);
    width: clamp(15px, 90%, 100%);
}

.gradeAutomatica{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    gap: clamp(5px, 1rem, 20px);
    width: 100%;
}



#barraLateral{
    height: 101%;
    align-items: flex-start;
    justify-content: flex-start;
}

#barraLateral > div{
    position: fixed;
    top: 5%;
    left: 1%;

    nav{
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: clamp(5px, 1rem, 20px);
        margin-top: 15px;
    }
}

#conteudoDaPagina{
    background: radial-gradient(circle at 20% 30%, #003366, #000b18 85%);
    height: 101%;
    border: 2px solid aliceblue;
    padding: 15px;
}

#conteudoDaPagina > *{ width: clamp(50%, 90%, 100%); }



@media screen and (min-width: 1400px){

    body, body > *{ font-size: larger; }

    .gradeAutomatica{ grid-template-columns: 1fr 1fr; }

}

@media screen and (max-width: 850px){
    
    #barraLateral{ font-size: smaller; }

    .grade{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
    }

}



@media screen and (max-width: 768px){

    body{
        display: flex;
        flex-direction: column;
    }

    #barraLateral, #conteudoDaPagina{
        width: 100%;
        height: max-content;
        border-top: none;
    }

    #barraLateral > div{
        position: static;
        top: auto;
        left: auto;
        margin: 10px;
    }

    #conteudoDaPagina{
        height: 100%;
        border-bottom: 2px solid aliceblue;
    }
    
}



@media screen and (max-width: 465px){

    img{ max-width: 200px; }

    .grade{ grid-template-columns: 95%; }
}

