body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    gap: 0;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #2c2f33;
    color: aliceblue;
    font-size: larger;
}

header{
    margin: 10px;

    *{ width: clamp(5%, 10%, 15%); }
}

    img{
        max-width: clamp(300px, 20vw, 50%);
        outline: black ridge 5px;
    }

    a{
        color: aliceblue;
        overflow-wrap: break-word;
        max-width: 90%;

        img{
            background: none;
            outline: none;
            border: none;
        }
    }

    a:focus, a:hover{ color: orangered; }

    a:focus:hover{ color: yellow; }

    nav{ text-align: left; }

    p{
        width: 80%;
        margin: 0;
        overflow-wrap: break-word;
    }

    label{ align-self: flex-start; }

    input{
        align-self: flex-start;
        width: minmax(1rem, max-content);
        padding: clamp(5px, 0.5rem, 1rem);
    }

    button{
        padding: clamp(10px, 1rem, 20px);
        font-size: larger;
        background-color: lime;
        border: 2px solid aliceblue;
        cursor: pointer;
    }

    button:focus, button:hover{
        background-color: orangered;
        color: aliceblue;
    }

    button:focus:hover{ background-color: orange; }


    
.linha, .coluna{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
}

.linha{ flex-wrap: wrap; }

.coluna{
    flex-direction: column;
    gap: clamp(10px, 1rem, 20px);
    padding: clamp(10px, 15px, 20px);
}

.dupla{
    display: flex;
    flex-wrap: wrap;
    width: clamp(50%, 90%, 100%);
    height: max-content;
}

.maior{ font-size: 2em; }

*.caixaCinzenta{
    background-color: #43484f;
    border: 2px solid aliceblue;
}

.grade{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    gap: clamp(5px, 1rem, 20px);
    width: clamp(15px, 90%, 100%);
}



#barraLateral{
    height: 101%;
    align-items: flex-start;
    justify-content: flex-start;
}

#barraLateral > div{
    position: fixed;
    top: 5%;
    left: 1%;

    nav{
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: clamp(5px, 1rem, 20px);
        margin-top: 15px;
    }
}

#conteudoDaPagina{
    background-color: #19286d;
    height: 101%;
    border: 2px solid aliceblue;
    padding: 15px;
}

#conteudoDaPagina > *{ width: clamp(50%, 90%, 100%); }



@media screen and (min-width: 850px){ .linha{ flex-wrap: nowrap; } }

@media screen and (max-width: 850px){
    
    #barraLateral{ font-size: smaller; }

    .grade{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
    }

}



@media screen and (max-width: 768px){

    body{
        display: flex;
        flex-direction: column;
    }

    #barraLateral, #conteudoDaPagina{
        width: 100%;
        height: max-content;
        border-top: none;
    }

    #barraLateral > div{
        position: static;
        top: auto;
        left: auto;
        margin: 10px;
    }

    #conteudoDaPagina{
        height: 100%;
        border-bottom: 2px solid aliceblue;
    }
    
}



@media screen and (max-width: 465px){

    img{ max-width: 200px; }

    .grade{ grid-template-columns: 95%; }
}